
@{
    ViewBag.Title = "Index";
    var firstAuthor = ViewData["FirstNewAuthor"] as Authors;
    var secondAuthor = ViewBag.SecondNewAuthor as Authors;
}
@model IEnumerable<Authors>

<h2>Index</h2>
@*<h3>@ViewData["Comment"]</h3>
<h3>@ViewBag.SecondComment</h3>*@

@Html.ActionLink("Добавить нового автора", "Create", "Author")

<br />
<hr />
<h3>@firstAuthor.Id)@firstAuthor.LastName @firstAuthor.FirstName</h3>
<br />
<h3>@secondAuthor.Id)@secondAuthor.LastName @secondAuthor.FirstName</h3>
<hr />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Authors item in Model)
        {
           <tr>
              <td scope="row">@item.FirstName</td>
              <td scope="row">@item.LastName</td>
              <td scope="row">@Html.ActionLink("Изменить","Edit","Author",new { id = @item.Id },null)</td>
              <td scope="row">@Html.ActionLink("Удалить","Delete","Author",new { id = @item.Id },null)</td>
           </tr>
        }
    </tbody>
</table>


